@font-face {
  font-family: 'Brown';
  src: url('./Brown-Regular.woff') format('woff');
  font-weight: 300;
}
.main-header {
	overflow-x: hidden;
	font-family: 'Brown', sans-serif;
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
	background-color: #1E4589;
	color: white;
	font-size: 2rem;
	position: fixed;
	width: 100%;
}